body {
  background-image: url("../img/alki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-image: url("../img/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

}

h1 {
  color: #ff44ee;
  font-size: 56px;
  text-align: center;
}

img {
  border:2px solid black;
  display: block;
  margin: auto;
}
